@import "bootstrap"

.w50
  width: 50px
  display: inline-block

.w200
  width: 200px

.t20
  margin-top: 20px

.btn i
  margin-right: 5px

.rect
  border: 1px solid #ddd
  border-radius: 4px

.truncate 
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.products-index
  .product
    margin-bottom: 10px

    .lead
      margin-bottom: 5px

    .remove-btn
      margin-top: 5px

  .new-product-btn
    margin-top: 17px
    margin-left: 20px

  .new-category-btn
    margin-top: 20px
    margin-left: 20px

  .head-line
    margin: 10px 0 20px

  .category
    .name
      float: left
      width: 85%

    .buttons
      margin-top: -7px
      float: right

      i 
        padding: 0px 5px

    .subcategories
      margin-left: 10px
      margin-bottom: 0px



.products-edit
  .images
    margin-left: 10px
    width: 470px

  .thumbnails
    height: 388px
    overflow-y: auto
    margin-left: 0px

  .thumbnail
    cursor: pointer
    width: 140px
    float: left
    margin-bottom: 10px

  .images-empty
    margin-top: 150px

  .inputs
    min-height: 315px
    max-height: 430px

  #choice-category
    label
      display: inline

    .choice-category-btn
      margin-left: 10px
      margin-bottom: 5px

    i
      padding: 0px 5px

    .chosen-categories
      max-height: 75px
      overflow-y: auto

    .categoty
      border: 1px solid #e5e5e5
      float: left
      padding: 5px
      margin: 0px 5px 5px 0px
      background-color: white

      .name
        font-size: 12px

      i
        padding: 0px

      .delete-btn
        padding: 5px

  .category-choice-dialog
    .subcategories
      margin-left: 10px
      margin-bottom: 0px



