.form-signin
  i
    display: block
    background-image: image_url('magaz/admin/providers.png')
    width: 90px
    height: 25px
    background-repeat: no-repeat
    background-position: center center
  .twitter
    background-position: 0 -125px
  .facebook
    background-position: 0 -100px
  .vkontakte
    background-position: 0 -75px
  .odnoklassniki
    background-position: 0 -450px
  .google
    background-position: 0 -0px

  p
    float: left

  .space
    margin-right: 10px
