// --------------------------------------------
//             Common
// --------------------------------------------

body
  background: #f5f5f5
  font-family: 'Helvetica',Arial,sans-serif
  color: #000

.content
  margin-top: 30px

.icon-cart
  background: url('/img/ico_main.png') no-repeat -24px 0
  width: 24px
  height: 24px

h1, h2, h3, h4
  color: #0b3a52
  font-weight: normal

h2
  font-size: 28px
  letter-spacing: -0.03em
  margin: 0 0 20px 0
  font-family: GeogrotesqueR,Arial,sans-serif


// --------------------------------------------
//             Partials
// --------------------------------------------

header
  background-color: #0b3a52
  width: 100%
  overflow: hidden

  .cart
    margin-top: 21px
    height: 40px
    line-height: 40px
    font-size: 14px
    background-image: linear-gradient(180deg,#eb852a,#e77106)
    background-color: #eb852a
    border: 1px solid #d1721c
    border-top: 1px solid #f3b57e
    border-bottom: 1px solid #462202
    border-radius: 6px

    a
      color: whitesmoke
      padding-left: 10px

    i
      margin-right: 5px
      margin-top: -2px

    span
      background: #be5d05
      border: 1px solid #b65905
      border-top: 1px solid #884204
      border-bottom: 1px solid #d08b4c
      border-radius: 3px
      line-height: 1.5em
      text-align: center
      display: block
      float: right
      padding: 3px
      margin: 5px 6px 0 1px
      min-width: 16px
      height: 22px


  .container
    height: 78px
    position: relative
    line-height: 78px

  .search
    position: absolute
    margin-top: 21px

    input
      height: 38px
      line-height: 38px
      font-size: 22px
      padding: 0 0 0 10px
      color: #0b3a52

    button
      height: 40px

  .logo
    font-size: 45px
    color: whitesmoke

    &:before
      content: ''
      box-shadow: 0 0 150px 150px #0a5870
      background: #0a5870
      position: absolute
      left: 50px
      top: 35px
      width: 1px
      height: 1px

    a
      color: whitesmoke
      position: absolute

.categories-left
  border: solid 1px #dfe9ed
  border-radius: 4px
  margin: 0
  padding: 0
  background-color: #fff

  .category
    border-top: solid 1px #fff
    border-bottom: solid 1px #f2f2f2
    position: relative

    a
      text-decoration: none
      color: #0b3a52
      display: block
      padding: 10px 10px 12px 10px

    &:first-child
      border-top: none

      a
        border-radius: 3px 3px 0 0

    &:hover
      border-top: solid 1px #c44e03
      border-bottom: solid 1px #cc5804 

      &:first-child
        border-top: none
      
      a 
        background-color: #d75c04
        background-image: linear-gradient(180deg,#d05303,#d75d04)
        color: #fff

.categories-popular
  background-color: #fafafa
  border: solid 1px #dfe9ed
  border-radius: 5px
  padding: 0
  overflow: hidden
  margin: 15px 0

  .category
    border-right: solid 1px #dfe9ed
    border-bottom: solid 1px #dfe9ed
    height: 165px
    margin-left: 0
    padding: 15px 8px 10px 10px

    &:nth-child(3n+3)
      border-right: none
      padding-right: 10px

  h3
    font-weight: bold
    font-family: GeogrotesqueB,Arial,sans-serif
    font-size: 16px
    margin: 0 15px 9px 19px
    line-height: 17px

// --------------------------------------------
//             Pages
// --------------------------------------------


